{% trans_default_domain 'uteg' %}

{% macro buildReport(values) %}
    {% for key, value in values %}
        {% if value.firstname is defined %}
            <li>{{ value.firstname }}</li>
        {% else %}
            <ul>
                {{ key | trans }}
                {{ _self.buildReport(value) }}
            </ul>
        {% endif %}
    {% endfor %}
{% endmacro %}

{{ _self.buildReport(starters) }}
