{% trans_default_domain 'uteg' %}
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page>
        <placeholders>
            <header>
                <div height="50px" width="100%">
                    <h1>{{ comp.name }}</h1>
                </div>
                <div height="20px">
                    <page-info format="page %s for %s"/>
                </div>
            </header>
            <footer>
                <div height="20px" text-align="right">
                    <page-info format="{{ 'egt.reporting.divisions.pagenumbering' | trans }}"/>
                </div>
            </footer>
        </placeholders>
        {{ include("egt/reporting/divisionsReport.html.twig") }}
    </dynamic-page>
</pdf>