{% trans_default_domain 'uteg' %}
{% form_theme form 'form/formTheme_horizontal.html.twig' %}

<form id="clubForm" class="form-horizontal">

    {{ form_row(form.name) }}

    {{ form_row(form._token) }}
</form>