html, body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: auto !important;
}

.button {
    width: 110px;
    background: #3399cc;
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background .3s;
    -webkit-transition: background .3s;
    cursor: pointer;
}

.button:hover {
    background: #2288bb;
}

.btn-icon {
    width: 35px;
}

.btn-icon span {
    padding-left: 10px;
    display: none;
}

.btn-icon:hover {
    width: auto;
}

.btn-icon:hover span {
    padding-left: 2px;
    display: inline;
}

.fa-user-settings:before {
    background-image: url('/icons/icon-user-settings.png');
}

i.icon-delete-black:before {
    background-image: url('/icons/icon-delete-black.png');
}

i.icon-delete-red:before {
    background-image: url('/icons/icon-delete-red.png');
}

i.icon-view-black:before {
    background-image: url('/icons/icon-view-black.png');
}

i.icon-view-green:before {
    background-image: url('/icons/icon-view-green.png');
}

.small-text {
    color: #A8A8A8;
    font-size: 10px;
}