html, body {
	font-family: 'Quicksand', sans-serif;
    overflow-x: auto !important;
}

.button {
    width: 110px;
    background:#3399cc;
    display:inline-block;

    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    transition:background .3s;
    -webkit-transition:background .3s;
    cursor: pointer;
}

.button:hover{
    background:#2288bb;
}

.btn-icon {
    width: 35px;
}

.btn-icon span {
    padding-left: 10px;
    visibility: hidden;
}

.btn-icon:hover {
    width: auto;
}

.btn-icon:hover span{
    padding-left: 2px;
    visibility: visible;
}

.fa-user-settings:before {
    background-image: url('/icons/icon-user-settings.png');
}

i.icon-delete-black:before {
    background-image: url('/icons/icon-delete-black.png');
}

i.icon-delete-red:before {
    background-image: url('/icons/icon-delete-red.png');
}

i.icon-view-black:before {
    background-image: url('/icons/icon-view-black.png');
}

i.icon-view-green:before {
    background-image: url('/icons/icon-view-green.png');
}

.tabs-level-2  {
    width: auto !important;
    margin-left: 150px;
}

.tabs-level-2 .tabs {
    margin-top: 0;
}

.tabs-level-2 .tab-content .tab-pane {
    padding-top: 40px;
}

.list-group {
    margin-bottom: 20px;
}

.list-group-item {
    width: 250px;
}

.starters-source-div {
    vertical-align: top;
    margin-left: 280px;
}

.starters-source {
    display: none;
}

.starters-target-div {
    clear: both;
    margin-top: 20px;
}

ul.starters-source, ul.starters-target {
    min-height: 50px;
    margin: 0px 25px 10px 0px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    list-style-type: none;
    list-style-position: inside;
}
ul.starters-source {
    border-color: #f8e0b1;
}
ul.starters-target {
    border-color: #add38d;
}
.starters-source li, .starters-target li {
    margin: 5px;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.starters-source li {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
}
.starters-target li {
    background-color: #ebf5e6;
    border: 1px solid #d6e9c6;
    color: #468847;
}
.sortable-dragging {
    border-color: #ccc !important;
    background-color: #fafafa !important;
    color: #bbb !important;
}
.sortable-placeholder {
    height: 40px;
}
.starters-source .sortable-placeholder {
    border: 2px dashed #f8e0b1 !important;
    background-color: #fefcf5 !important;
}
.starters-target .sortable-placeholder {
    border: 2px dashed #add38d !important;
    background-color: #f6fbf4 !important;
}