.header-bar {
	height: 25px;
}

.header-bar span {
	font-size: 15pt;
	height: 25px;
}
			
header i.menu-button {
	top: 5px;
	height: 15px;
}

header span:before {
	background-size: 10px;
}

nav.box {
	width: 200px;
}

div.nav-userbox {
	padding-top: 40px;
}

nav.main {
	padding-top: 10px;
}

nav.box.close div.nav-userbox {
	padding-top: 0px;
	font-size: 0pt;
}

nav.box.close nav.main {
	padding-top: 10px;
}
			
nav.box.close {
	width: 40px;
	margin: 0;
}
			
nav.box.close li {
	font-size: 0pt;
}