{% trans_default_domain 'uteg' %}
{% form_theme form 'form/formTheme_horizontal.html.twig' %}

<form id="judgeEditForm" method="post" action="{{ path(target, { 'compid': app.request.get('compid')}) }}"
      class="form-horizontal">

    {{ form_row(form.email) }}

    {{ form_row(form.device) }}

    {{ form_row(form._token) }}
</form>
